<p id="notice"><%= notice %></p>

<p>
  <b>Studentid:</b>
  <%= @student.studentid %>
</p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Password:</b>
  <%= @student.password %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'My bookings', bookings_path %>
