<%= javascript_include_tag :defaults %>

<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input type="hidden" id="booking_student_id" name="booking[student_id]" value="<%= session[:student_id] %>">

  <%= f.label :computer_id %><br />
  <%= f.collection_select :computer_id, Computer.all, :id, :total_computer, {:prompt   => "Select a computer"} %>
  <br />
  <%= f.label :timeunit_id %><br />
  <%= f.collection_select :timeunit_id, Timeunit.all, :id, :id, {:prompt   => "Select a time unit"} %>
  
  <br />

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>





