
<h1>Listing my bookings</h1>

<table align="center">
  <tr>
    <th>Student</th>
    <th>Block</th>
    <th>Room</th>
    <th>Computer</th>
    <th>Timeunit</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.student.name %></td>
    <td><%= booking.computer.block %></td>
    <td><%= booking.computer.room %></td>
    <td><%= booking.computer.number %></td>
    <td><%= booking.timeunit.id %></td>
    <td><%= booking.date %></td>
    <td><%= link_to 'Show', booking %></td>
    <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
    <td><%= link_to 'Destroy', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div id="nav">
	<%= link_to 'New Booking', new_booking_path %>
        <% if current_student %>
        <%= link_to "Logout", :logout%>
        <% else %>| 
        <%= link_to "Login", :login %>
        <% end %>
</div>
