<p id="notice"><%= notice %></p>

<p>
  <b>Student:</b>
  <%= @booking.student.name %>
</p>

<p>
  <b>Block:</b>
  <%= @booking.computer.block %>
</p>

<p>
  <b>Room:</b>
  <%= @booking.computer.room %>
</p>

<p>
  <b>Computer:</b>
  <%= @booking.computer.number %>
</p>

<p>
  <b>Timeunit:</b>
  <%= @booking.timeunit.id %>
</p>

<p>
  <b>Date:</b>
  <%= @booking.date %>
</p>


<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
