<h1>Listing student_sessions</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @student_sessions.each do |student_session| %>
  <tr>
    <td><%= student_session.email %></td>
    <td><%= student_session.password %></td>
    <td><%= link_to 'Show', student_session %></td>
    <td><%= link_to 'Edit', edit_student_session_path(student_session) %></td>
    <td><%= link_to 'Destroy', student_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Student session', new_student_session_path %>
