<p id="notice"><%= notice %></p>

<p>
  <b>Timein:</b>
  <%= @timeunit.timein.to_s(:time) %>
</p>

<p>
  <b>Timeout:</b>
  <%= @timeunit.timeout.to_s(:time) %>
</p>


<%= link_to 'Edit', edit_timeunit_path(@timeunit) %> |
<%= link_to 'Back', timeunits_path %>
